
@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
}
*{
 /*  border:1px solid blueviolet; */
}
body {
  margin: 0;
  font-family: 'Poppins-Regular'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}
a{
  text-decoration: none;
}
code {
font-family: 'Poppins-Regular'; 
}